@import url('https://fonts.googleapis.com/css?family=Forum&display=swap');

body {
  background: #252526;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
}

.landing {
  position: relative;
  left: 50%;
  width: 80vw;
  height: 70vh;
  transform: translate(-50%);
  display: inline-block;
}

.landing:before {
  content: '';
  background-color: #000;
  opacity: 0.6;
  width: 100%;
  height: 100%;
  z-index: 1;
  position: absolute;
  top: 0;
  left: 0;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.landing img {
  width: 80vw;
  height: 70vh;
  display: block;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.landing-title {
  font-family: 'Forum', cursive;
  font-size: 5rem;
  color: #fff;
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translate(-50%);
  z-index: 2;
}

.landing-title::after {
  font-size: 2.5rem;
  color: rgb(199, 199, 199);
  white-space: pre;
  content: '\A Scrape articles from The New York Times'
}

.landing-bg {
  height: 100%;
}

.no-articles {
  font-size: 2rem;
  width: 100%;
  border-radius: 10px;
  background-color: rgb(255, 187, 0);
  color: #fff;
  text-align: center;
}

.modal {
  transform: translateY(-50%) scaleX(1) !important;
}

.card-content {
  padding: 0px 12px !important;
}

.article-title {
  font-weight: bold;
  font-size: 16px;
}

div.card-action {
  font-size: 12px;
  border: none !important;
  padding: 0px 12px !important;
}

.favorite-icon {
  margin-top: 6px;
  margin-right: -35px;
  font-size: 1.5rem;
  display: inline-block;
  color: #000;
  opacity: 0.3;
}
  .favorite-icon:hover {
    color: rgb(255, 187, 0);
    opacity: 1;
  }

.unfavorite-icon {
  margin-top: 6px;
  margin-right: -35px;
  font-size: 1.5rem;
  display: inline-block;
  color: rgb(255, 187, 0);
  opacity: 1;
}
  .unfavorite-icon:hover {
    color: #000;
    opacity: 0.4;
  }

.comment-icon {
  margin-top: 6px;
  font-size: 1.5rem;
  display: inline-block;
  color: #EE6E73;
}
  .comment-icon:hover {
    color: rgb(236, 67, 72)
  }

.comment {
  padding: 16px;
  position: relative;
  background-color: #ef9a9a;
  color: #000;
  border-radius: 4px;
  margin: 4px;
}

i.fa-surprise {
  position: absolute;
  left: 50px;
  top: 72px;
}

.delete-comment {
  position: absolute;
  right: 10px;
  top: 9px;
}

.helper-text .error-text {
  color: #fff !important;
  background-color: rgb(255, 187, 0);
  border-radius: 4px;
  padding: 4px;
}

.footer-link:hover {
  color: lightgray !important;
  cursor: pointer;
}

#scrape-new {
  cursor: pointer;
}
#scrape-new:hover {
  color: green !important;
}

#nuke {
  cursor: pointer;
}
#nuke:hover {
  color: red !important;
}

/* Custom Scrollbar */
::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
          box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	background-color: #F5F5F5;
}

::-webkit-scrollbar {
	width: 12px;
	background-color: #F5F5F5;
}

::-webkit-scrollbar-thumb {
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
          box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	background-color: #575555;
}